:root {
  --primary-font: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b3;
  --white: #fff;
}

/* Або modern-normalize або
*,
*::before,
*::after {
  box-sizing: border-box;
} */

/* !!! Глобальні стилі документа !!! */

/* background-color: rgb(0 255 0 / 10%); прозорий, щоб було видно накладки */

/* !!! Ховаємо заголовок !!! */

/* .visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
} */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

/* !!! Обнуляємо маржини заголовків та параграфів «B1» !!! */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* !!! Прибираємо нижне підкреслення для посилань!!! */
a {
  text-decoration: none;
}

ul {
  /* !!! Глобальне скидання стилів для списків(падінги, марджини, індекси) «B1» !!! */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* !!!Прибираємо курсив для тегу address !!! */
address {
  font-style: normal;
}

/*  body  */

/* Властивість font-family,font-size, font-weight, line-height, letter-spacing, text-align, background-color успадковується більшістю елементів, тому його задають елементу body */
body {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  background-color: var(--color-white);

  /* !!! Обнуляємо стандартний margin елемента body - 8px з усіх боків !!! */
  margin: 0;
}

.container {
  max-width: 1158px; /* «B8»  */

  /* !!! Центруємо контент !!! */
  margin: 0 auto;

  /* !!! Задаємо падінги контейнеру !!! */
  padding: 0 15px;
}

section {
  padding: 120px 0; /* «B15» */
}

/* .thumb {
  overflow: hidden;
} */

img {
  /* !!! Прибираємо нижній проміжок !!! */
  display: block;

  /* !!! Робимо щоб зображення не виходило за межі батьківського елемента !!! */
  max-width: 100%;

  /* !!! Робимо щоб висота зображення автоматично підлаштовувалася під ширину !!! */
  height: auto;

  /* !!! Задаємо властивість, щоб зображення не спотворювалося !!! */
  object-fit: cover;
}

/* header */
.header {
  border-bottom: 1px solid var(--cornflower);
}

.header .container {
  /* !!! Всі елементи в одну лінію !!! */
  display: flex;

  /*   !!! Розподіляємо елементи по головній осі з максимальним проміжком !!! */
  justify-content: space-between;

  /* !!! Вирівнюємо елементи по центру вздовж поперечної осі !!! */
  align-items: center;
}

/*  logo  */
.logo {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
  padding: 24px 0;
}

.accent {
  color: var(--navy-blue);
}

/*  nav  */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  color: var(--navy-blue);
  padding: 24px 0;
}

/* Hover/Focus ефекти */
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

/*  address  */
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts .contacts-link {
  color: var(--slate);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

/*  hero  */
.hero {
  background: var(--navy-blue);
  width: 100%;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  background: var(--navy-blue);
  max-width: 496px;
  margin: 0 auto 48px;
}

/*  hero-btn  */
.hero-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);

  /* !!! Включаємо блочну модель !!! */
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;

  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  font-weight: 600;
  background: var(--ocean);
}

.hero-btn:active {
  background: var(--ocean);
}

/*  features  */
.features-list {
  text-align: left;
  display: flex;
  gap: 24px;
}

.features-item {
  /* !!! Встановлюємо базовий розмір flex-елемента: 4 елементи в рядок із проміжком 72px між ними !!! */
  flex-basis: calc((100% - 72px) / 4);
}

.features-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-text {
  color: var(--slate);
}

/*  team  */
.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);

  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgb(46 47 66 / 8%),
    0 1px 1px 0 rgb(46 47 66 / 16%),
    0 1px 6px 0 rgb(46 47 66 / 8%);
}

.team-item:hover,
.team-item:focus {
  background: var(--white);
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-descr {
  padding: 32px 0;
}

.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-text {
  color: var(--slate);
}

/*  portfolio  */

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;

  /* !!! Дозволяємо перенесення flex-елементів на новий рядок !!! */
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  border-bottom: 1px solid var(--cornflower);
}

.portfolio-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--slate);
}

/*  footer  */
.footer {
  text-align: left;
  background: var(--navy-blue);
  width: 100%;
  padding: 100px 0;
}

.footer-logo {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}

.accent-footer {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  max-width: 264px;
}
